<li class="border-b">
    <a [routerLink]="['/recipes', recipe.id]" class="block hover:bg-gray-50" (click)="handleRecipeItemClick()">
        <div class="flex items-center px-6 py-3">
            <div class="min-w-0 flex-1 px-2">
                <p class="text-xl font-semibold text-indigo-600 truncate">{{ recipe.name }}</p>
                <p class="mt-3 text-sm text-gray-500">
                    <span class="truncate">{{ recipe.description }}</span>
                </p>
            </div>

            <div class="flex-shrink-0 px-5">
                <img class="h-20 w-20 rounded-full" [src]="recipe.imageUrl" alt="">
            </div>

            <!-- Heroicon name: solid/chevron-right -->
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </div>
    </a>
</li>